MONGO_URI= your_mongo_uri

PORT=5000

REDIS_URL =your_redis_url

Rabbitmq_Host = localhost

Rabbitmq_Username = username

Rabbitmq_Password = username_pass

JWT_PRIVATE_KEY_BASE64 = <base64_encoded_rsa_private_key>

JWT_PUBLIC_KEY_BASE64 = <base64_encoded_rsa_public_key>

JWT_EXPIRES_IN = 15d